body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

:root{
    --glow-color: rgb(255,0,0);
}

.grandParent{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/devpcp7mz/image/upload/v1783527783/wallpaper2_s31jlh.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    min-width: 60vw;
    min-height: 70vh;
    max-width: 80vw;
    max-height: 80vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
    border: 2px solid var(--glow-color);
    border-radius: 4vw;
    flex-direction: column;
    font-family: "lato";
    box-shadow: 0 0 1000px red;
    animation: color-change-container 5s linear infinite;
    overflow-x: hidden;
    overflow-y: auto;
}

.title{
    width: 100%;
    text-align: center;
    font-size: 4vw;
    color: white;
}


.buttoncontainer{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.btns{
    width: 17vw;
    height: 10vh;
    margin: 1vw 1vw;
    font-size: 1.7vw;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid cyan;
    border-radius: 1vw;
    color: white;
    transition: all .5s;
    flex-shrink: 0;
    box-shadow: 0 0 0px cyan;
}

.btns:hover{
    border-color: cyan;
    color: white;
    box-shadow: 0 0 35px rgba(0, 255, 255, 0.8);
    scale: 1.1;
    transition: all .5s;
    color: black;
    background-color: cyan;
    font-weight: 700;
}

@keyframes color-change-container{
    0%{
        box-shadow: 0 0 75px rgb(255, 0, 0);
        border-color:  rgb(255, 0, 0);
    } 
    25%{
        box-shadow: 0 0 75px rgb(60, 255, 0);
        border-color:  rgb(60, 255, 0);
    } 
    50%{
        box-shadow: 0 0 75px rgb(0, 217, 255);
        border-color:  rgb(0, 217, 255);
    } 
    75%{
        box-shadow: 0 0 75px rgb(76, 0, 255);
        border-color:  rgb(76, 0, 255);
    }
    100%{
        box-shadow: 0 0 75px rgb(255, 0, 0);
        border-color:  rgb(255, 0, 0);
    } 
}
